/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
/* line 31, ../../../../sass/global.scss */
.clearfix {
  clear: both;
}

/*
a:hover { color: $color-highlight; text-decoration: underline; }
a { color: $color-link; text-decoration: none;}
a:visited { color: $color-link; text-decoration: none;}
*/
/* line 1, ../../../../sass/partials/_treeview.scss */
.treeview-wrapper {
  display: block;
  border: solid 1px #aaaaaa;
  border-radius: 5px;
  overflow: auto;
}

/* line 9, ../../../../sass/partials/_treeview.scss */
.treeview-node {
  display: block;
  margin-left: 0px;
  width: 95%;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* line 23, ../../../../sass/partials/_treeview.scss */
.treeview-node li {
  display: block;
  float: left;
  white-space: nowrap;
  width: 100%;
}

/* line 31, ../../../../sass/partials/_treeview.scss */
.innerNode {
  margin-left: 12px;
}

/* line 33, ../../../../sass/partials/_treeview.scss */
.content {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 10px;
  line-height: 1.5em;
  height: 1.5em;
}

/* line 44, ../../../../sass/partials/_treeview.scss */
.collapsed {
  display: none;
}

/* Icons */
/* line 47, ../../../../sass/partials/_treeview.scss */
.icon_tv {
  position: relative;
  width: 13px;
  height: 13px;
  top: 2px;
  display: inline-block;
}

/* Chevron (expand/collapse) */
/* line 59, ../../../../sass/partials/_treeview.scss */
.icon_tv_chevron {
  /* placeholder in case need to change background image */
  background-image: url('/images/glyphicons-halflings.png?1361842429');
  margin-right: 5px;
}

/* line 66, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-collapsed > .icon_tv_chevron {
  background-position: -456px -72px;
}

/* line 70, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-expanded > .icon_tv_chevron {
  background-position: -313px -119px;
}

/* line 74, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-empty > .icon_tv_chevron {
  visibility: hidden;
}

/* checks (checked/unchecked/mixed) */
/* line 81, ../../../../sass/partials/_treeview.scss */
.icon_tv_check {
  /* placeholder in case need to change background image */
}

/* line 85, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-checked > .icon_tv_check {
  background-image: url('/images/check-black.gif?1354288667');
}

/* line 89, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-checked > .content {
  font-weight: bold;
}

/* line 93, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-disabled > .icon_tv_check {
  width: 14px;
  height: 14px;
  top: 2;
  background-image: url('/images/glyphicons-halflings.png?1361842429');
  background-position: -216px -96px;
}

/* line 100, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-unchecked > .icon_tv_check {
  background-image: url('/images/check-empty.gif?1354288667');
}

/* line 103, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-mixed > .icon_tv_check {
  background-image: url('/images/check-mixed.gif?1354288667');
}

/* line 106, ../../../../sass/partials/_treeview.scss */
.treeview-node .tv-mixed > .content {
  font-style: italic;
}

/* line 111, ../../../../sass/partials/_treeview.scss */
.temp-node {
  border-radius: 5px;
  padding: 3px;
  background-color: gray;
  color: white;
  display: inline-block;
}
