$color-highlight : maroon;
$color-text : #4C5A61;
$color-link : #4C5A61;
$color-text-header: maroon;
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-paper    : hsl(60,1,98);//#fafaf7;
$background-outer : $color-paper;
$color-gradient-start: #4C5A61;
$color-gradient-end: #2F3335;
$border-color     : #aaaaaa; //$color-gray;
$color-border-dark: #4C5A61;
$color-border-light: #BDCCD4;
$color_gradient_grey_end   : #d1d1d1;
$background-inner : $color-white;


$color-text-light: #BDCCD4;

$color-egg      : #f5f5eb;

$color-bg-dark: maroon;
$color-bg-light: $color-egg;
$color-content: $color-egg;
